@model GuestBoard
@{
    ViewData["Title"] = "GuestBoard";
}

<main class="container p-3">
    <div class="text-center p-3 my-3 text-white">
        <h3>GuestBoard</h3>
    </div>

    <form method="post" asp-controller="GuestBoard" asp-action="Add">
        <div class="row text-dark">
            <div class="col-sm-2 d-grid">
                <div class="form-floating">
                    @* name이 아닌 asp-for로 사용할 땐 모델을 어떻게 지정해야 하는지? *@
                    <input class="form-control" type="text" asp-for="Name" placeholder="Leave a Name here" />
                    <label>Name</label>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-floating">
                    <textarea class="form-control text-dark" asp-for="Content" placeholder="Leave a comment here"></textarea>
                    <label>Content</label>
                    <span class="text-danger" asp-validation-for="Content"></span>
                </div>
            </div>
            <div class="col-sm-2 d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="submit">등록</button>
            </div>
        </div>
    </form>

    @await Component.InvokeAsync("GuestBoardList")  

    @*<div class="my-3 p-3 bg-dark text-white rounded shadow-sm border-light">
        <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
        @foreach (var guestBoard in Model)
        {
            <div class="d-flex text-muted pt-3">
                <object class="bd-placeholder-img flex-shrink-0 me-2 rounded" data="~/icons/user_icon.svg" width="32" height="32" role="img" aria-label="Placeholder: 32x32"  focusable="false"></object>
                <p class="pb-3 mb-0 small lh-sm border-bottom text-white">
                    <strong class="d-block">@guestBoard.Name</strong>
                    @guestBoard.Content
                </p>
            </div>
        }
    </div>*@
</main>
