@model IEnumerable<GuestBoard>

<div class="my-3 p-3 bg-dark text-white rounded shadow-sm border-light">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    @foreach (var guestBoard in Model)
    {
        <div class="d-flex text-muted pt-3">
            <object class="bd-placeholder-img flex-shrink-0 me-2 rounded" data="~/icons/user_icon.svg" width="32" height="32" role="img" aria-label="Placeholder: 32x32" focusable="false"></object>
            <p class="pb-3 mb-0 small lh-sm border-bottom text-white">
                <strong class="d-block">@guestBoard.Name</strong>
                @guestBoard.Content
            </p>
        </div>
    }
</div>