@{ 
    ViewData["Title"] = "Main";
}

<div class="bg-white">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">2022년 취업하자!</h1>
            <p class="lead fw-normal">2022년엔 취업해서 더 발전된 개발자가 되기 위해 노력하고 있습니다.</p>
            <a class="btn btn-outline-secondary" href="/GuestBoard/Index" >응원하러 가기</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="container p-3">
        <div class="row my-3 g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">관심기술</span>
                    <span class="badge bg-primary rounded-pill">4</span>
                </h4>

                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">C#</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">ASP.NET Core</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">WPF</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Blazor</h6>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-7 col-lg-8">
                <div class="row g-3">

                    <div class="col-12">
                        <label class="form-label text-secondary">Name</label>
                        <h3>KiHyeon Yang</h3>
                    </div>

                    <div class="col-12">
                        <label class="form-label text-secondary">Email</label>
                        <h3>inandexhale95@naver.com</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex my-md-3 ps-md-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">ASP.NET Core</h2>
                    <p class="lead">.NET Core에서 새로 탄생한 C# Framework</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">WPF</h2>
                    <p class="lead">MVVM 패턴의 시조, Xaml 기반의 UI</p>
                </div>
                <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Blazor</h2>
                    <p class="lead">.NET의 새로운 Web Framework</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>
    </div>

</div>