@{
    ViewData["Title"] = "Login";
}

<div class="position-static d-block py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
        <div class="rounded-6 shadow">
            <div class="border-bottom-0">
                <h5 class="modal-title">Modal title</h5>
            </div>
            <form method="post" asp-controller="Home" asp-action="RegisterProcess">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </form>
            
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right"><strong>Yes, enable</strong></button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">No thanks</button>
            </div>
        </div>
    </div>
</div>