@model User

@{
    ViewData["Title"] = "Register";
}

<div class="container p-3">

    <h4 class="text-center p-3 my-3 text-white">Register</h4>

    <div class="d-flex row-cols-3 justify-content-center align-items-center">
        <form asp-controller="Home" asp-action="Register">
            <div class="col-lg form-floating">
                <input type="text" asp-for="UserId" class="form-control" placeholder="ID">
                <label class="form-label text-dark">ID</label>
                <span class="text-danger" asp-validation-for="UserId"></span>
            </div>

            <div class="mt-2"></div>

            <div class="col-lg form-floating">
                <input type="password" asp-for="UserPassword" class="form-control" placeholder="Password">
                <label class="form-label text-dark">Password</label>
                <span class="text-danger" asp-validation-for="UserPassword"></span>
            </div>

            <div class="mt-2"></div>

            <div class="col-lg form-floating">
                <input type="password" class="form-control" placeholder="Password Confirm">
                <label class="form-label text-dark">Password Confirm</label>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Register</button>
        </form>
    </div>
    
</div>